.text-checked {
    text-decoration: line-through;
    span {
        background-color: rgba(0, 0, 0, 0.03);
    }
}

.icon-checked {
    opacity: 100;
}

.icon-not-checked {
    opacity: 0;
}

.icon-col {
    text-align: center;
}

.no-border {
    border: 0;
}

.pointer {
    cursor: pointer;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.btn {
    width: 100%;
}